{:paths ["src" "resources"]
 :deps {}
 :aliases {:example {:extra-paths ["."]
                     :extra-deps {io.github.kotoba-lang/jp-go-digital-design-system {:git/sha "dc4602dc17bce8f6e9ba038e92b3e95fcc411b49"}
                                  io.github.kotoba-lang/html {:git/sha "aa57f2730c87b7c2752151ed1a5f2e402c2ac71e"}}}}}
